@media (max-width : 1400px){
    .body__container .caption {
        font-size: 2.6rem;
        line-height: 4rem;
        margin-bottom: 2rem;
    }
    .first-screen li {
        font-size: 1.2rem;
    }
    .body__container {
        padding: 2rem 3rem;
    }
    
}

@media (max-width : 1200px){
        .first-screen nav{
            height: max-content;
            width: 50%;
        }
        
}
@media (max-width : 900px){
    .first-screen nav{
        display: none;
    }
    .first-screen__body {
        container-type : inline-size;
        margin: 0 20px;
    }
    .body__container {
        
        padding: 5cqh 5cqw;
    }
        .body__container .caption{
            
            /* font-size: 2.6rem; */
            font-size: clamp(2.1rem, 4.2cqi ,4.2cqi );
            line-height: clamp(2.7rem, 5cqi ,5cqi );
            margin-bottom: clamp(1.5rem, 2cqi ,2cqi );
        }
        .body__container .desc {
            font-size: clamp(1.1rem, 2cqi ,2.2cqi );
            line-height: 2rem;
            margin-bottom: 2.5rem;
        }
        
    .wrap {
        margin: 6rem 0;
        padding: 0 20px;
    }     
    .wrap .section{
        container-type : inline-size;
    }
    .section .header {
        display: flex;
        margin-bottom: 6cqi;
        height: 6cqi;
        align-items: center;
    }
    
     .slider-item__text p{

     }        
    .wrap .section{
     
    }        
    .wrap h2 {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: clamp(1.4rem, 3.5cqi ,4cqi );
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #343434;
    }    
    .hr-block {
        width: 7cqi;
        height: 4cqi;
        margin-right: 2cqw;
    }


    .slider{
       
    }
    
    .slider-item{
       width: 100% !important;
       height: 60cqi !important;
       margin-bottom: 5cqi;
       display: flex !important;
       justify-content: center;
    } 
    .slider-item__image{
        width: 90%;
    }    
    
    
        .slider-item img{
            
        }
    .slider-item__text{
        position: absolute;
        bottom: 0;
        right: auto;
        max-width: none;
        width: 90%;
        padding: 4cqi;
        background: -webkit-linear-gradient(90deg, hsla(212, 100%, 38%, 0.705),hsla(187, 100%, 34%, 0.5),#6da71000);/* Chrome 10-25, Safari 5.1-6 */                         
        background: linear-gradient(90deg, hsla(212, 100%, 38%, 0.705),hsla(187, 100%, 34%, 0.5),#6da71000);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             
    }
        .slider-item__text h4, .slider-item__text p{ 
            color: white;
            line-height: normal;
        }
        .slider-item__text h4{
            margin-bottom: 1cqi;
            font-size: clamp(1.3rem, 3cqi ,3cqi );;
        }
        .slider-item__text p{
            font-size: clamp(1rem, 2cqi ,3cqi );
            /* font-size: 2.5cqi; */
            font-weight: 400;
            line-height: clamp(1.5rem, 3cqi ,3cqi );
        }

        .slick-arrow {
         
            width: clamp(2rem, 6cqi ,6cqi );
            height: clamp(2rem, 6cqi ,6cqi );
            z-index: 1000;
            top: -11.9cqi;
            border: 2px solid #005BC1;
        }
        .slick-arrow.slick-prev {
            right: 10.9cqi;
            right: clamp(2rem,5.9cqi,10cqi);
        }
        .slick-arrow.slick-next {
            right: 0;
        }
        .slick-track{
            display: block;
            justify-content: baseline; 
             
             min-width: 0;
          } 
        







    .catalog__category {
       width: 80%;
       margin-bottom: 6cqi;
    }

    .category__button {
        font-size: clamp(1.2rem, 2.6cqi ,4cqi );
    }
    .catalog__list {
        flex-wrap: wrap;
        justify-content: space-between;
    }      

    .catalog__item {
        display: flex;
        flex-direction: column;
        width: 48cqi;
        max-height:none;
        height: max-content;
        margin-bottom: 5cqi;
    }      
    .catalog__image{
        height: 40cqi;
    }
        .catalog__image img {
            object-fit: scale-down;
        }
    .catalog__text {
        position: relative;
        bottom: auto;
        height: 15cqi;
        width: 100%;
         padding-left: 5cqi;
    }
        .catalog__text h4 {
            padding: 0;
            line-height: normal;
            font-size: clamp(3cqi, 2.2cqi ,4cqi );
            
        }
            .catalog__text h4 br{
              /* display: none; */
                
            }

}

@media (max-width : 600px){
    .slider-item {
        height: 75cqi !important;
    }
    .slider-item__image {
        width: 100%;
    }
    .slider-item__text {
        width: 100%;
    }

}