@media (max-width : 1400px){
    .body__container .caption {
        font-size: 2.6rem;
        line-height: 4rem;
        margin-bottom: 2rem;
    }
    .first-screen li {
        font-size: 1.2rem;
    }
    .body__container {
        padding: 2rem 3rem;
    }
}
@media (max-width : 1200px){
        .first-screen nav{
            height: max-content;
            width: 50%;
        }
        
}
@media (max-width : 900px){
    .first-screen nav{
        display: none;
    }
    .first-screen__body {
        container-type : inline-size;
        margin: 0 20px;
    }
    .body__container {
        
        padding: 5cqh 5cqw;
    }
        .body__container .caption{
            
            /* font-size: 2.6rem; */
            font-size: clamp(2.1rem, 4.2cqi ,4.2cqi );
            line-height: clamp(2.7rem, 5cqi ,5cqi );
            margin-bottom: clamp(1.5rem, 2cqi ,2cqi );
        }
        .body__container .desc {
            font-size: clamp(1.1rem, 2cqi ,2.2cqi );
            line-height: 2rem;
            margin-bottom: 2.5rem;
        }
        
    .wrap {
        margin: 6rem 0;
        padding: 0 20px;
    }     
    .wrap .section{
        container-type : inline-size;
    }
    .section .header {
        container-type: inline-size;
        align-items: center;
        margin-bottom: 8cqi;
    }
    
     .slaider-item__text p{

     }        
    .wrap .section{
     
    }        
    .wrap h2 {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: clamp(1.8rem, 5cqi ,50cqi );
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #343434;
    }    
    .hr-block {
        width: 10cqi;
        height: 8cqi;
        margin-right: 4cqw;
    }


    .slaider{
        flex-direction: column;
    }
    .slaider-item{
       width: 100%;
       height: auto;
       margin-bottom: 5cqi;
    } 
        .slaider-item img{

        }
    .slaider-item__text{
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: none;
        width: 100%;
        padding: 4cqi;
        background-color: #005ac19a;
    }
        .slaider-item__text h4, .slaider-item__text p{
            color: white;
            line-height: normal;
        }
        .slaider-item__text h4{
            margin-bottom: 1cqi;
            font-size: clamp(1.3rem, 5cqi ,50cqi );
        }
        .slaider-item__text p{
            font-size: clamp(1rem, 3cqi ,50cqi );
            /* font-size: 2.5cqi; */
            font-weight: 400;
            line-height: clamp(1.5rem, 5cqi ,50cqi );;
        }
}

@media (max-width : 768px){
    .wrap .section {

    }
    .wrap h2 {

    }    
    .hr-block {

    }

    .slaider{

    }
    .slaider-item{

    }
        .slaider-item img{

        }
    .slaider-item__text{
      
    }
        .slaider-item__text h4{
          
        }
        .slaider-item__text p{
         
        }

}