*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}
html {
  /* font-size: 16px; */
  font-size: calc( 12px + 4 * (100vw / 1920) );
  /* font-size: 12px; */
}

body{
   
}

.wrap{
  width: 100%;
}

.wrapper{
  max-width: 1110px;
  flex: auto;
  margin: 0 auto;
}

section{
  display: flex;
  container-type : inline-size;
}



.first-screen{
  width: 100%;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  background: url(img/background1.jpg) no-repeat;
  background-size: cover;
}
.first-screen__wrapper{
  display: flex;  
  align-items: center;
  justify-content: space-between;
  
}

header{
  display: flex;
  height: 5rem;
  padding: 0 2rem;
  background-color: #005ac19a;
}

.logo{
  height: max-content;
  display: flex;
  align-items: center;
  
}

.logo__img{
  height: 3rem;
  margin-right: 10px;
}

.logo__text{

  font-size: 1.6rem;
  text-align: center;

}
  .first-screen nav{
    height: max-content;
    width: 40%;
  }
  .first-screen ul{
      list-style: none;
      display: flex;
      justify-content: space-between;
  }
  .first-screen li{
      font-size: 1rem;
  }

.first-screen__body{
   flex: 1 1 auto;
   display: flex;
   justify-content: center;
   align-items: center;
}
.body__container{
  width:max-content;
  padding: 2rem 5rem;
  border-radius: 10px;
  background-color: #005ac19a;
}

  .body__container .caption{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 5rem;
    letter-spacing: 0.01em;
    margin-bottom: 2rem;
  }
  .body__container .desc{
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 1rem;
    line-height: 22px;
    margin-bottom: 2.5rem;
  }
  .body__container .button{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 22px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.05em;
    background: none;
    border: 2px solid white;
    padding: 0.8rem 2.5rem;
    cursor: pointer;
  }
    .body__container .button:hover{
      background-color: white;
      color: #343434;
    }








.wrap{
  margin: 9.4rem 0;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
}
.wrap .section{
  flex-direction: column;
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 9.4rem;

}

.wrap h2{
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 44px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #343434;
}
.section .header{
  display: flex;
  margin-bottom: 6cqi;
  height: 5cqi;
  align-items: center;
  padding: 0 1cqi;
}
.hr-block{
  height: 100%;
  width: 6.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-right: 2.8rem;
}
  .hr-block hr{
    /* border: 3px solid #005BC1; */
    border: none;
    height: 3px;
    background-color: #005BC1;;
  }
    .hr-block hr:first-child{
      width: 100%;
    }
    .hr-block hr:last-child{
      width: 50%;
    }

.slider{
  display: flex;
  min-width: 0;
  justify-content: space-between;
}

.slider-item{
  position: relative;
  width: 48cqi !important;
  height: 25rem;
  /* margin: 0 2.5cqw; */
}
.slider-item__image{
  width: 100%;
  /* height: ; */
}
  .slider-item img{
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
.slider-item__text{
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    max-width: 15.6rem;
    width: 100%;
    padding: 1.25rem 1.5rem;
    background-color: white;
}
  .slider-item__text h4{
    margin-bottom: 0.8rem;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.6rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
  }
  .slider-item__text p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 1.2rem;
    color: #343434;
  
  }

  .slider_2{
    /* height: 300px;
    width: 100%;
    margin-bottom: 100px; */
  }
  .slider_2 .slick-list{
    /* width: 100%;
    height: 300px; */
  }
  .slider_2 .slick-track{
    /* width: 100% !important;
    height:100%; */
  }
/* .sliderr_item{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  min-width: 200px;
  background-color: burlywood;
}
.sliderr_item h3{
  font-size: 50px;
  color: #343434;
} */

/* Слайдер */
.slick-slider{
 
}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track{
  display: flex;
  justify-content: space-between; 
   
   min-width: 0;
} 
/* Слайд */
.slick-slide{
  /* min-width: 0;
  width: 48cqw !important; */
}
/* Слайд активный (показывается) */
.slick-slide.slick-active{
}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{

  font-size: 0px !important;
  width: 5cqi;
  height: 5cqi;
  position: absolute;
  display: flex;
  z-index: 1000;

  top: -10.9cqi;
  border: 2px solid #005BC1;

 
}
/* Стрелка влево */
.slick-arrow.slick-prev{
  background: url(img/prev.svg) no-repeat;
  background-size: 50%;
  background-position: 75%;
  right: 6.05cqi;
  
}
/* Стрелка вправо */
.slick-arrow.slick-next{
  background: url(img/next.svg) no-repeat;
  background-size: 50%;
  background-position: center;
  right: 1.1cqi;
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}
















/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: linear-gradient(0deg, rgba(2,49,94,1) 0%, rgba(47,112,175,1) 35%, rgba(185,132,140,1) 100%);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: azure; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }