*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}
html {
  /* font-size: 16px; */
  font-size: calc( 12px + 4 * (100vw / 1920) );
  /* font-size: 12px; */
}

body{
   
}

section{
  display: flex;
  container-type : inline-size;
}

header{
  display: flex;
  height: 5rem;
  padding: 0 2rem;
  background-color: #005ac19a;
}
  /* НАЧАЛЬНЫЙ ЭКРАН  -->   */
    .first-screen{/*-------------------------------------- Начальй экран*/
      width: 100%;
      min-height: 800px;
      display: flex;
      flex-direction: column;
      background: url(img/background1.jpg) no-repeat;
      background-size: cover;
    }

    .first-screen__wrapper{ /*----------------------------- Начальй экран, обертка*/
      display: flex;  
      align-items: center;
      justify-content: space-between;
    }

    .wrapper{ /*------------------------------------------- Ограничитель*/
      max-width: 1110px;
      flex: auto;
      margin: 0 auto;
    }

    .logo{
      height: max-content;
      display: flex;
      align-items: center;
    }

    .logo__img{
      height: 3rem;
      margin-right: 10px;
    }

    .logo__text{
      font-size: 1.6rem;
      text-align: center;
    }

    .nav{
      height: max-content;
      width: 40%;
    }

    .nav__ul{
      list-style: none;
      display: flex;
      justify-content: space-between;
    }

    .nav__li{
      font-size: 1rem;
    }

    .first-screen__body{/*----------------------------- Начальй экран,контент*/
      flex: 1 1 auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .body__container{/*-------------------------------- Начальй экран, контейнер с контентом*/
      width:max-content;
      padding: 2rem 5rem;
      border-radius: 10px;
      background-color: #005ac19a;
    }

      .body__container .caption{/*--------------------- Контейнер, заголовок*/
        font-family: 'Oswald', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 3rem;
        line-height: 5rem;
        letter-spacing: 0.01em;
        margin-bottom: 2rem;
      }
      .body__container .desc{/*------------------------ Контейнер, текст*/
        font-family: 'Open Sans';
        font-style: normal;
        font-size: 1rem;
        line-height: 22px;
        margin-bottom: 2.5rem;
      }
      .body__container .button{/*---------------------- Контейнер, кнопка*/
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        line-height: 22px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.05em;
        background: none;
        border: 2px solid white;
        padding: 0.8rem 2.5rem;
        cursor: pointer;
      }
        .body__container .button:hover{ /*---------------------- Контейнер, кнопка*/
          background-color: white;
          color: #343434;
        }
  /* НАЧАЛЬНЫЙ ЭКРАН  <--   */






    
 
    /* КОНТЕНТ  -->   */
      .wrap{
        width: 100%;
        margin: 9.4rem 0;
        padding: 0 4rem;
        display: flex;
        flex-direction: column;
      }
        .wrap .section{
          flex-direction: column;
          max-width: 1110px;
          width: 100%;
          margin: 0 auto;
          margin-bottom: 9.4rem;
        }

        .wrap h2{
          font-family: 'Oswald';
          font-style: normal;
          font-weight: 400;
          font-size: 1.8rem;
          line-height: 44px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #343434;
        }

        .section .header{
          display: flex;
          margin-bottom: 6cqi;
          height: 5cqi;
          align-items: center;
          padding: 0 1cqi;
        }
      .hr-block{
        height: 100%;
        width: 6.25rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
        margin-right: 2.8rem;
      }
        .hr-block hr{
          /* border: 3px solid #005BC1; */
          border: none;
          height: 3px;
          background-color: #005BC1;;
        }
          .hr-block hr:first-child{
            width: 100%;
          }
          .hr-block hr:last-child{
            width: 50%;
          }

      /*  СЛАЙДЕР-1 -->   */

        .slider{
          display: flex;
          min-width: 0;
          justify-content: space-between;
        }

        .slider-item{
          position: relative;
          width: 48cqi !important;
          height: 25rem;
        }

        .slider-item__image{
          width: 100%;
          height: 100%;
        }

          .slider-item__image img{
            display: block;
            max-width: 100%;
            width: 100%;
            height: 100%;
          }

        .slider-item__text{
            position: absolute;
            bottom: 2rem;
            right: 2rem;
            max-width: 15.6rem;
            width: 100%;
            padding: 1.25rem 1.5rem;
            background-color: white;
        }
          .slider-item__text h4{
            margin-bottom: 0.8rem;
            font-family: 'Oswald';
            font-style: normal;
            font-weight: 400;
            font-size: 1.1rem;
            line-height: 1.6rem;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #343434;
          }
          .slider-item__text p{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 300;
            font-size: 0.9rem;
            line-height: 1.2rem;
            color: #343434;
          }

      /*  СЛАЙДЕР-1 <--   */
      
      /*  КАТАЛОГ-->   */

        .catalog{
            display: flex;
            flex-direction: column;
            align-items: center;
            container-type : inline-size;
        } 

        .catalog__category{
            display: flex;
            justify-content: space-evenly;
            width: 25cqi;
            margin-bottom: 50px;
        } 
        .category__button{
            font-family: 'Oswald';
            font-style: normal;
            font-weight: 400;
            line-height: 1.6rem;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #343434;
            font-size: 1.5rem;
            padding-bottom: 5px;
            border-bottom: 2px solid transparent;
            cursor: pointer;
        } 
        .category__button_active{
            color: #005BC1;
            border-color: #005BC1;
        } 

        .catalog__list{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        .catalog__item{
            position: relative;
            width: 32cqi;
            max-height: 18.75rem;
            border: 2px solid #005BC1;
        }
        .catalog__image {
          display: flex;
          width: 100%;
          height: 100%; 
        }
            .catalog__image img{
              display: block;
              max-width: 100%;
              width: 100%;
              height: 100%; 
              object-fit: contain;
            }

        .catalog__text{
          position: absolute;
          display: flex;
          height: 5.375rem;
          width: 70%;
          bottom: 0.9rem;
          right: 0;
          align-items: center;
          background-color: #005BC1;
        }

          .catalog__text h4{
            font-family: 'Oswald';
            font-style: normal;
            font-weight: 400;
            font-size: 1.1rem;
            line-height: 1.6rem;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: white;
            padding: 0 1.3rem;
          }


      /*  КАТАЛОГ <--   */

      /*  СЛАЙДЕР-2 -->   */
        .slider-container{
          width: 100%;
          display: flex;
          justify-content: space-between;
          /* container-type : inline-size; */
        }  

        .slider-desc{
          width: 32%;
          display: flex;
          align-items: center;
        }

          .slider-desc p{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 300;
            font-size: 1.1rem;
            line-height: 1.5rem;
            
            /* black */
            
            color: #343434;
          }

        .slider_2{
          width: 60%;
          /* height: 26.5rem; */
          border: 3px solid #005BC1;
          padding: 1.6rem;
        }
        .slider-wrap{
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          container-type : inline-size;
        }
        .slider-header{
          display: flex;
          align-items: center;
          height: 10cqi;
          margin-bottom: 3cqi;
        }
          .slider-header p{
            font-family: 'Oswald';
            font-style: normal;
            font-weight: 400;
            font-size: 1.1rem;
            line-height: 1.6rem;
            /* identical to box height */
            
            letter-spacing: 0.05em;
            text-transform: uppercase;
            
            /* black */
            
            color: #343434;
          }
        .slider-list{
          width: 100%;
          height: 45cqi;
          container-type : inline-size;
        }

        .slider_2 .slider-item{
          position: relative;
          display: flex;
          justify-content: space-between;
          width: 100% !important;
          height: 100% !important;
        }

        .slider_2 .slider-item__image{
          width: 40cqi;
          height: auto;
        }

          .slider_2 .slider-item__image img{
            object-fit: contain;
          }

          .slider_2 .slider-item__text{
            position: relative;
            max-width: none;
            bottom: 0;
            right: 0;
            padding: 0;
            padding-right: 5cqi;
            width: 55cqi;
            background-color: white;
          }
          .slider_2 .slider-item__text h4{
            margin-bottom: 0;
            font-family: 'Oswald';
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.6rem;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #343434;
          }
          .slider_2 .slider-item__text ul{
            height: 40cqi;
            padding-top: 5cqi;
            padding-bottom: 10cqi;
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          .slider_2 .slider-item__text li{
            display: flex;
            align-items: center;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 300;
            font-size: 0.9rem;
            line-height: 1.2rem;
            color: #343434;
          }
            .slider_2 .slider-item__text li span{
              height: max-content;
              font-size: 1.5rem;
              margin-right: 1rem;
              color: #343434;
            }

            .slider_2 .slick-arrow{
              font-size: 0px !important;
              width: 10cqi;
              height: 10cqi;
              position: absolute;
              display: flex;
              z-index: 1000;
              top: -12.7cqi;
              border: 2px solid #005BC1;
            }
            .slider_2 .slick-arrow.slick-next {
              right: 0;
            }
            .slider_2 .slick-arrow.slick-prev{
              right: 9.6cqi;
              
            }
      /*  СЛАЙДЕР-2 <--   */
      /*  НОВОСТИ-->   */
        .news{

        }
        .news .header{
          height: 5cqi;
          margin-bottom: 6cqi;
          padding: 0 1cqi;
          display: flex;
          justify-content: space-between;
        }
        .header-container{
          height: 100%;
          display: flex;
          
         
          align-items: center;
          
        }
        .header-button{
          height: 100%;
          padding: 1rem 2rem;
          background-color: #005BC1;
        }
        .header-button p{
          text-transform: uppercase;
         
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: 600;
          font-size: 1rem;
          line-height: 1.5rem;
          text-align: center;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #FFFFFF;
        }
        

        .news-container{
          display: flex;
          justify-content: space-between;
          container-type : inline-size;
        }
        .news-item{
            display: flex;
            
        }
          .news-item .text{
            width: 100%;
            display: flex;
            justify-content: space-between;
          }
            .news-item .text__header h4{
              font-family: 'Oswald';
              font-style: normal;
              font-weight: 400;
              font-size: 1.2rem;
              line-height: 1.6rem;
              letter-spacing: 0.05em;
              text-transform: uppercase;
              color: #343434;
            }
            .news-item .text__date{
              text-align: right;
              font-family: 'Open Sans';
              font-style: normal;
              font-weight: 600;
              font-size: 0.9rem;
              line-height: 1rem;
              text-transform: uppercase;
              color: #979797;
            }
        .news-item_big{
          width: 50%;

        }
        .news-item_small{
          width: 22%;
        }
          .news-item_big .img{
            flex: 0 0 23cqi;
            height: 15.6rem;
          }
            .news-item_big .img img{
              display: block;
              max-width: 100%;
              width: 100%;
              height: 100%; 
              object-fit: cover;
            }
          .news-item_big .text{
              display: flex;
              flex-direction: column;
              margin-left: 2rem;
          }
          .news-item_big .text__header{
            display: flex;      
            align-items: center;
            height: max-content;

          }
            .news-item_big .text__header h4{
              
            }
            .news-item_big .text__header p{
                flex: auto;
                text-align: right;
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 0.9rem;
                line-height: 1rem;
                text-transform: uppercase;
                color: #979797;
            }
          .news-item_big .text__body{
              height: max-content;
              display: flex;
              flex-direction: column;

             
          }
            .news-item_big .text__body p{
              font-family: 'Open Sans';
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 19px;
                color: #343434;
            }
          .text__further{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            text-decoration-line: underline;
            color: #343434;
          }
          .news-item_small .img{
            display: flex;
            justify-content: space-between;
            width: 100%;
            /* flex: 0 0 23cqi; */
            height: 7.5rem;
          }
            .news-item_small .img img{
              display: block;
              max-width: 50%;
              width: 100%;
              height: 100%; 
              object-fit: cover;
            }
          .news-item_small .text{
              display: flex;
              flex-direction: column;
              
          }
          .news-item_small .text__date{
            display: flex;
            align-items: flex-end;
          }
            .news-item_small .text__body p{
              font-family: 'Open Sans';
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 19px;
                color: #343434;
            }
        

          
      /*  НОВОСТИ <--   */
  /* КОНТЕНТ  <--   */
  /* ПОДВАЛ  -->   */
      footer{
        display: flex;
        padding: 0 4rem;
        background-color: #005BC1;
      }       
        footer .wrapper{
          position: relative;
          width: 100%;
          padding: 2rem 0;
        }
        footer .header{
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          
        }    
      .tel{
        font-family: 'Oswald';
          font-style: normal;
          font-weight: 400;
          font-size: 1.1rem;
          line-height: 1.5rem;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #FFFFFF;
      } 
      .adress, .email{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
      }
        footer hr{
          border: 1px solid #FFFFFF;
          margin: 1.55rem 0;
        } 
        footer .nav{
          width: 100%;
        }
        footer .nav__list{
          width: 50%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          list-style: none;
        }
        footer .nav__item{
          width: 33%;
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 19px;
          color: #FFFFFF;
        }
        footer .nav__item:first-child{
          margin-bottom: 0.6rem;  
        }
      .copyright{
          display: flex;
          justify-content: space-between;
      }
      .copyright__left{
        
      }
      .copyright__right{
        
      }
  /* ПОДВАЛ  <--   */

  /* НАСТРОЙКИ-СЛАЙДЕРА  -->   */

    /* Слайдер */
    .slick-slider{
    
    }
    /* Слайдер запущен */
    .slick-slider.slick-initialized{}
    /* Слайдер с точками */
    .slick-slider.slick-dotted{}
    /* Ограничивающая оболочка */
    .slick-list {
      overflow: hidden;
    }
    /* Лента слайдов */
    .slick-track{
      display: flex;
      justify-content: space-between; 
      
      min-width: 0;
    } 
    /* Слайд */
    .slick-slide{
      /* min-width: 0;
      width: 48cqw !important; */
    }
    /* Слайд активный (показывается) */
    .slick-slide.slick-active{
    }
    /* Слайд основной */
    .slick-slide.slick-current{}
    /* Слайд по центру */
    .slick-slide.slick-center{}
    /* Клонированный слайд */
    .slick-slide.slick-cloned{}
    /* Стрелка */
    .slick-arrow{
      font-size: 0px !important;
      width: 5cqi;
      height: 5cqi;
      position: absolute;
      display: flex;
      z-index: 1000;
      top: -10.9cqi;
      border: 2px solid #005BC1;
    }

    /* Стрелка влево */
    .slick-arrow.slick-prev{
      background: url(img/prev.svg) no-repeat;
      background-size: 50%;
      background-position: 75%;
      right: 6.05cqi;
      
    }
    /* Стрелка вправо */
    .slick-arrow.slick-next{
      background: url(img/next.svg) no-repeat;
      background-size: 50%;
      background-position: center;
      right: 1.1cqi;
    }
    /* Стрелка не активная */
    .slick-arrow.slick-disabled{}
    /* Точки (булиты) */
    .slick-dots{}
    .slick-dots li{}
    /* Активная точка */
    .slick-dots li.slick-active{}
    /* Элемент точки */
    .slick-dots li button{}

  /* НАСТРОЙКИ-СЛАЙДЕРА  <--   */














/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: linear-gradient(0deg, rgba(2,49,94,1) 0%, rgba(47,112,175,1) 35%, rgba(185,132,140,1) 100%);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: azure; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }